name: CI

on:
  push:
    branch:
      - master

  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

    - uses: actions/setup-go@v6
      with:
        go-version: stable

    - name: golangci-lint
      run: |
        go install github.com/golangci/golangci-lint/v2/cmd/golangci-lint@latest

      - name: Lint with golangci-lint
        run: golangci-lint run
